:host {
  border: 4px dashed #bbbbbb;
  position: absolute;
  font-size: 24px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border-color 0.3s, filter 0.3s, transform 1s;
  filter: none;
  transform-origin: 0 0 ;
  z-index: 2;
  &.opening {
    transform: rotateY(80deg);
  }

  &.is-opened {
    transform: rotateY(80deg);
    transition: border-color 0.3s, filter 0.3s;
  }

  .door-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .door-label {
      z-index: 9999;
    }

    canvas {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }

  &:hover {
    border-color: white;
    filter: brightness(1.2);
  }

  &.door-1 {
    height: 120px;
    width: 120px;
    top: 200px;
    left: 400px;
  }

  &.door-2 {
    height: 120px;
    width: 140px;
    top: 400px;
    left: 800px;
  }

  &.door-3 {
    height: 150px;
    width: 150px;
    top: 40px;
    left: 1400px;
  }

  &.door-4 {
    height: 120px;
    width: 140px;
    top: 800px;
    left: 50px;
  }

  &.door-5 {
    height: 120px;
    width: 120px;
    top: 850px;
    left: 1700px;
  }

  &.door-6 {
    height: 120px;
    width: 120px;
    top: 200px;
    left: 1700px;
  }

  &.door-7 {
    height: 100px;
    width: 120px;
    top: 500px;
    left: 100px;
  }

  &.door-8 {
    height: 120px;
    width: 120px;
    top: 900px;
    left: 900px;
  }
  &.door-9 {
    height: 120px;
    width: 160px;
    top: 700px;
    left: 1100px;
  }
  &.door-10 {
    height: 100px;
    width: 120px;
    top: 1000px;
    left: 1500px;
  }
  &.door-11 {
    height: 130px;
    width: 130px;
    top: 300px;
    left: 1500px;
  }
  &.door-12 {
    height: 100px;
    width: 120px;
    top: 700px;
    left: 1800px;
  }
  &.door-13 {
    height: 100px;
    width: 120px;
    top: 700px;
    left: 400px;
  }
  &.door-14 {
    height: 150px;
    width: 120px;
    top: 500px;
    left: 1200px;
  }
  &.door-15 {
    height: 150px;
    width: 180px;
    top: 200px;
    left: 720px;
  }
  &.door-16 {
    height: 100px;
    width: 120px;
    top: 50px;
    left: 50px;
  }
  &.door-17 {
    height: 120px;
    width: 200px;
    top: 1000px;
    left: 350px;
  }
  &.door-18 {
    height: 120px;
    width: 150px;
    top: 50px;
    left: 1900px;
  }
  &.door-19 {
    height: 190px;
    width: 160px;
    top: 400px;
    left: 2000px;
  }
  &.door-20 {
    height: 100px;
    width: 120px;
    top: 1000px;
    left: 2000px;
  }
  &.door-21 {
    height: 100px;
    width: 122px;
    top: 400px;
    left: 400px;
  }
  &.door-22 {
    height: 120px;
    width: 122px;
    top: 600px;
    left: 1500px;
  }
  &.door-23 {
    height: 144px;
    width: 150px;
    top: 700px;
    left: 750px;
  }
  &.door-24 {
    height: 300px;
    width: 300px;
    top: 160px;
    left: 1000px;
  }

}
