<div class="main-page-container h-full w-full " #mainContainer>
  <canvas class="main-canvas" #offscreenCanvas></canvas>
  <calendar-door (click)="openDoor(door)" [ngClass]="{'is-opened': door.isopened, 'is-openable': isOpenable(door)}" [isCanvasDrawing]="isCanvasDrawing" [mainCanvas]="offscreenCanvas" [container]="mainContainer" class="door-{{door.id}}" [door]="door" *ngFor="let door of calendarDoors"></calendar-door>
  <ng-container *ngFor="let door of calendarDoors">
    <open-calendar-door *ngIf="door.isOpen" [door]="door" class="door-{{door.id}}" ></open-calendar-door>
  </ng-container>
  <calendar-door-message></calendar-door-message>
  <snowfall></snowfall>
</div>
